
     <div class="landing-page ">
              <div class=" background">
                            <div class="box">
                                  <div class="container">
                                     <div class="row ">
                                         <div class="col-md-8 col-md-offset-2 text-center">
                                            <div class="box-inner">
                                              <h1 class="title">野阔</h1>
                                                  <p class="slogan">拉祜山</p>
                                                  <p class="lead">
                                                    <%= link_to '寻山珍', products_path, class: 'btn btn-danger btn-lg', id:"lead-submit" %>
                                                  </p>
                                           </div>
                                       </div>
                                  </div>
                               </div>
                          </div>

                         <div class="container content-section text-center">
                                <div class="row">
                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种茶叫螃蟹脚</h2>

                                          <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1ffzyi9lqimj30ji0d2wfp.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan"> 寄生古树茶 稀有而珍贵 </p>
                                      </div>

                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种广阔叫云海</h2>

                                          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzxvn9o5zj30jj0d10w3.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan"> 烟雾缭绕中 古村依势建 </p>

                                     </div>

                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种乐器叫芦笙</h2>

                                          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzyjge3dhj30ji0d241t.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan">悠悠澜沧江 阵阵芦笙恋 </p>

                                      </div>
                                </div>



                              <div class="row">
                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种茶叫螃蟹脚</h2>

                                          <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1ffzyi9lqimj30ji0d2wfp.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan"> 寄生古树茶 稀有而珍贵 </p>
                                      </div>

                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种广阔叫云海</h2>

                                          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzxvn9o5zj30jj0d10w3.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan"> 烟雾缭绕中 古村依势建 </p>

                                     </div>

                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种乐器叫芦笙</h2>

                                          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzyjge3dhj30ji0d241t.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan">悠悠澜沧江 阵阵芦笙恋 </p>

                                      </div>
                                </div>


                      </div>

                      <div class="container referrer">
  <div class="section text-center">
    <h2 class="title">追寻太阳的猎虎民族 臻贵润养的健康福禄</h2>

    <div class="team">
      <div class="row">
        <div class="col-md-4">
          <div class="team-player">
            <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzyjge3dhj30ji0d241t.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="304" height="236">
            <h4 class="title">李笑来
              <br/>
              <small class="text-muted">中国比特币首富</small>
            </h4>
            <p class="description text-left">老朋友了解，‘认知’是我多年研究的主题。不搞清楚‘大脑’如何运作，再努力也是无用。刘传这小伙儿相当Sharp，不仅自己摸透了‘大脑’，还总结出了体系化的课程。</p>
            <a href="http://weibo.com/bylixiaolai?refer_flag=1001030101_&is_all=1" class="btn btn-simple btn-just-icon">
              <i class="fa fa-weibo"></i>
            </a>
            <a href="#pablo" class="btn btn-simple btn-just-icon">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="http://odau7u92l.bkt.clouddn.com/%E6%9D%8E%E5%8F%AB%E5%85%BD.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="304" height="236">
            <h4 class="title">李靖<br/>
              <small class="text-muted">百度副总裁</small>
            </h4>
            <p class="description text-left">谁也不能否认，在这个每天都在变化的时代里，学习的质量和速度已然成为了决定人价值的重要因素。可大部分人这么多年一直在学习，却从没学习过如何学习。推荐千古刘传的《认知学习法》，你应该重新学习下，如何学习！</p>
            <a href="http://weibo.com/u/1838543111?topnav=1&wvr=6&topsug=1&is_all=1" class="btn btn-simple btn-just-icon">
              <i class="fa fa-weibo"></i>
            </a>
            <a href="#pablo" class="btn btn-simple btn-just-icon">
              <i class="fa fa-weixin"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="http://odau7u92l.bkt.clouddn.com/xdite.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="304" height="236">
            <h4 class="title">Xdite<br/>
              <small class="text-muted">全栈营创始人</small>
            </h4>
            <p class="description text-left">千古刘传的认知学习法，是我接触认知心理学的第一道契机。他的课深入浅出，让我从此一头钻进认知心理学的领域，此后我将认知心理学应用在教学上，设计出了全栈营学习生态体系。</p>
            <a href="#pablo" class="btn btn-simple btn-just-icon">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#pablo" class="btn btn-simple btn-just-icon">
              <i class="fa fa-weixin"></i>
            </a>
          </div>
        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>
</div>



                      <div class="box2">
                                  <div class="container">
                                            <div class="row">
                                                    <div class="col-md-8 col-md-offset-2 text-center">
                                                            <h1 class="title"></h1>
                                                            <h4 class="slogan"></h4>
                                                            <br/>
                                                            <p class="lead">
                                                              <%#= link_to '寻山珍', products_path, class: 'btn btn-danger btn-lg', id:"lead-submit" %>
                                                            </p>
                                                    </div>
                                            </div>
                                  </div>
                      </div>

        </div>

      </div>
