
     <div class="landing-page ">
              <div class=" background">
                            <div class="box">
                                  <div class="container">
                                     <div class="row ">
                                         <div class="col-md-8 col-md-offset-2 text-center">
                                            <div class="box-inner">
                                              <h1 class="title">野阔</h1>
                                                  <p class="slogan">拉祜山</p>
                                                  <p class="lead">
                                                    <%= link_to '寻山珍', products_path, class: 'btn btn-danger btn-lg', id:"lead-submit" %>
                                                  </p>
                                           </div>
                                       </div>
                                  </div>
                               </div>
                          </div>

                         <div class="container content-section text-center">
                                <div class="row">
                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种茶叫螃蟹脚</h2>

                                          <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1ffzyi9lqimj30ji0d2wfp.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan"> 寄生古树茶 稀有而珍贵 </p>
                                      </div>

                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种广阔叫云海</h2>

                                          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzxvn9o5zj30jj0d10w3.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan"> 烟雾缭绕中 古村依势建 </p>

                                     </div>

                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种乐器叫芦笙</h2>

                                          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzyjge3dhj30ji0d241t.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan">悠悠澜沧江 阵阵芦笙恋 </p>

                                      </div>
                                </div>

                                <!-- <div class="row">
                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种茶叫螃蟹脚</h2>

                                          <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1ffzyi9lqimj30ji0d2wfp.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan"> 寄生古树茶 稀有而珍贵 </p>
                                      </div>

                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种广阔叫云海</h2>

                                          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzxvn9o5zj30jj0d10w3.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan"> 烟雾缭绕中 古村依势建 </p>

                                     </div>

                                    <div class="col-md-4">

                                          <h2 class="content-section-title">一种乐器叫芦笙</h2>

                                          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzyjge3dhj30ji0d241t.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan">悠悠澜沧江 阵阵芦笙恋 </p>

                                      </div>
                                </div> -->

                      </div>



                      <div class="box2">
                                  <div class="container">
                                            <div class="row">
                                                    <div class="col-md-8 col-md-offset-2 text-center">
                                                            <h1 class="title"></h1>
                                                            <h4 class="slogan"></h4>
                                                            <br/>
                                                            <p class="lead">
                                                              <%#= link_to '寻山珍', products_path, class: 'btn btn-danger btn-lg', id:"lead-submit" %>
                                                            </p>
                                                    </div>
                                            </div>
                                  </div>
                      </div>

        </div>

      </div>
