/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";                       //文本编辑器的支持样式
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效


 //--- Footer always on the bottom---
 html {
    position: relative;
    min-height: 100%;
  }

  /*===== 网站通用设置 ======*/
body {
  overflow-x: hidden; //裁切页面内容，超出视窗不显示
  letter-spacing: 3px; //文字间距
  font-size: 18px; //文字大小
  padding-bottom: 117px;
  font-family: 'Noto Sans SC', sans-serif;            // google思源黑简作为主字体
  background-color:#deeff5;                                   // 网站所有字体缩小比例

  a {
    text-decoration:none !important; //文字连结移除底线
  }

}

/*===== 基础栏位设定 ======*/
  .width-25 {
    width: 25%;
  }

  .width-50 {
    width: 50%;
  }

  .width-75 {
    width: 75%;
  }

  .width-100 {
    width: 100%;
  }


  /*===== Navbar 导览列 ======*/
  .navbar-default {
    background: rgba(0,0,0,0.5)!important;//半透明背景

    /* 文字连结 */
    a {
      color: #fff !important;
    }

    /* 连结-鼠标效果 */
    a:hover,
    a:active,
    a:focus {
      color: #0070DE !important;
    }

    /*===== 导览列滑动特效 ======*/
    &.show_bgcolor {
      background-color: #D3D6DB!important; //背景颜色

      /* 文字连结 */
      a {
        color: #000 !important;
      }

      /* 连结-鼠标效果 */
      a:hover,
      a:active,
      a:focus {
        color: #0070DE !important;
      }
    }


  /*===== Logo ======*/
  .logo-box {
    margin-right: 15px;
    font-size: 20px;
  }

  /*===== Dropdown ======*/
  .dropdown-menu{
    background-color: #fff;
    min-width: 175px;

    /* 连结 */
    a {
      color: #000 !important;
      padding: 8px 17px;
    }

    /* 连结-鼠标滑动效果 */
    a:hover {
      background-color: #f0f0f0;
      color: #0070DE !important;
    }
  }

  /* 下拉选单三角箭头 */
  .dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
  }

  /* 搜索栏 */
.search-box {
  padding: 1px;
  margin-top: 9px;
  border: solid 2px #e5e4e4;
  border-radius: 3px;
  background-color: #fff;


  /* 输入框 */
  input {
    border: 0;
    padding-left: 10px;
    box-shadow: none
  }

  /* 按钮 */
  button {
    margin: 2px 0;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    font-size: 20px;
    box-shadow: none
  }


  }
  }


   //---------Footer---------

   .footer-style {
     position: absolute;
     bottom: 0;
     width: 100%;
     /* Set the fixed height of the footer here */
     background-color: #D3D6DB;
     color: #4f4948;

     }

     .footer-style h5 {
       margin-top: 2em;
       font-size: 1.6em;
     }
     .footer-style-p {
       text-align: justify;
       line-height: 2em;
       letter-spacing: 0.1em;
     }



// ---商品展示列表----

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
      }

    .productList {
     margin: 1em auto 10em;
     display: block;
     background-color: #EAEAEA;
     border-radius: 3px;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
     transition: box-shadow .25s;
    }

    .productList:hover {
     box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .img-productList {

     width: 100%;
     height:200px;
     border-top-left-radius:5px;
     border-top-right-radius:5px;
     display:block;
     overflow: hidden;

    }

    .img-productList img{
     width: 100%;
     height: 200px;
     object-fit: cover;
     transition: all .25s ease;
    }

    .productList-content {
     padding:15px;
     text-align: center;
    }

    .productList-title {
     font-weight: 300;
     font-size: 1.8em;
     letter-spacing: 0.2em;
     line-height: 0.8em;
    }

    .productList-title a {
     color: #212121;
     text-decoration: none !important;
    }





     //---back to top---
      #gotop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: none;
    cursor: pointer;
    display: none; /*默认先隐藏掉*/
    }


  //--- 登录页面  ----
  .log-page-bg {
    height: 1200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://ooo.0o0.ooo/2017/05/24/59250bb49d5a9.jpg)
    }

   .log-page {

    margin-top: 100px;
    color: #03151e ;
    font-size: 20px;
    background-color: rgba(250, 250, 250, 0.69);//transparent;//背景颜色含透明度
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    }

    .form-inputs {

    margin-bottom: 0px;//这样就可以紧接息面的描述文字
    border-radius: 10px;
    padding-bottom: 10px;

    }

    .restfont{
    padding-bottom: 20px;
    }



      // 固定位置的消息通知
        .alert {
          position: fixed; // 这个属性防止将内容挤下去
          top: 60px; // 让消息在导航条下面，不挡住导航，根据自己导航navbar的高度调整
          left: 0px;
          width: 100%;
          z-index: 10; // 让消息显示在最上面
          border-radius: 0px;
        }
