// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//product-detail



//页面头部微调
.product-show {
  margin-top: 1em;
}

// 商品标题样式
.product-title {
  color: #7f8c8d;
  letter-spacing: 0.5em;
}

// 商品简述样式
.product-description {
  margin: 1.5em auto 3em;
  line-height: 3em;
  letter-spacing: 0.5em;
}

// 商品价格样式
.product-price-bgcolor {
  background-color: #ddd;
  padding: 1.5em 1em;
  margin-bottom: 1em;
}

.product-price {
  font-size: 3em;
  font-weight: lighter;
  color: #7f8c8d;
 }

  //商品库存样式
  .product-quantity {
    margin: 1.5em auto;
  }

  // 按钮区域样式
.add-to-cart-buttom {
  margin: 1em auto 5em;
  }


  // 收藏按钮
.product-collection {
  line-height: 2em;
  }

//---商品详情区--
.product-particulars {
  margin: 3em 0 3em;
}


.product-particulars-box {
  border: 1px solid #e3e3e3;
  padding: 2em 1.2em;
  letter-spacing: 0.5em;
  text-align: center;
  line-height: 3em;
  img {                            //重要样式代码，需要配合application.js的自适应代码块一起使用
    max-width:100%;
    height:auto;
    }
}


    //----评论区----
    // .review-comment-form {
    //   text-align: left;
    //   padding: 2em 3em;
    // }
    //
    // .review-comment-button {
    //   text-align: left;
    //   padding: 0 3em;
    // }
    //
    // .review {
    //   text-align: left;
    //   li {
    //     list-style: none;
    //   }
    // }
    //
    // .review-user-email {
    //   font-weight: lighter;
    // }
    //
    // .review-comment {
    //   margin: 2em auto;
    // }
    //
    // .review-hr {
    //   padding: 0 3em;
    // }


    //  产品页面头图

    .product-pic {
      background-image: url('https://ws3.sinaimg.cn/large/006tNbRwgy1fg9t0nop3fj31jk1117wh.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 270px;
      padding-top: 270px;
    }

  .run-pic {
    background-image: url('https://ws4.sinaimg.cn/large/006tKfTcgy1fg3js3ibzfj31jd0gk7le.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 270px;
    padding-top: 270px;
  }


  .yuan-pic {
    background-image: url('https://ws2.sinaimg.cn/large/006tKfTcgy1fg3jh186oaj31jb0dm4qp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 270px;
    padding-top: 270px;
  }

  .zhen-pic {
    background-image: url('https://ws3.sinaimg.cn/large/006tKfTcgy1fg3jjz6iooj31j50imkjl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 270px;
    padding-top: 270px;
  }

      /*排序*/
      .orderList {
        margin: 40px auto;

      }
      .orderList-item {
        float: right;
        width: 82px;
        letter-spacing: 0.4em;

      }



      // 商品品论区域样式
      .review-comment-form {
        text-align: left;
        padding: 2em 2em;
      }
      .review-comment-button {
        text-align: left;
        padding: 0 2em;
        margin-top: -2em;
      }
      .reviews {
        text-align: left;
        li {
          list-style: none;
        }
      }
      .review-user-email {
        font-weight: bold;
      }
      .review-comment {
        margin: 1em auto;
      }
      .review-hr {
        padding: 0 3em;
      }

      .col-xs-3 {
          width: 50%;
          float: right
      }
