// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.landing-page {

  .background {
    background-color: inherit;

  }

  .box {
    background-image: url('https://ws3.sinaimg.cn/large/006tNbRwgy1fg1psfrfhpj315o0rd7wi.jpg');
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;


    .box-inner {
        background-color: rgba(149, 149, 149, 0.69);

        margin-top: 100px;
        margin-bottom: 100px;
        width: 700px;
        border-radius: 20px;
        padding-left: 28px;

    }

    .title {
        text-align: center;
        margin-bottom: 45px;
        letter-spacing: 0.5em;                              //拉开一点点字间距
        font-weight:lighter;                                //字体粗细比默认样式缩小100磅值，让logo显得精致高级
        font-size: 3.0em;
        color: #d76363;
        line-height: 50px;
        margin-right: -12px;
    }

    .slogan {
             color: #d76363;
             letter-spacing: 1em;
             font-weight:lighter;
             font-size: 2.5em;
             margin-bottom: 35px;
             text-align: center;
             margin-right: -18px;

         }


    .lead {
        margin-bottom: 60px;
        text-align: center;
        color: white;
        width: 100%;
      }

      #lead-submit {

        width: 45%;
        letter-spacing: 0.5em;
        font-size: 1.2em;

      }
        }

        .box2 {
          background-image: url('https://ws4.sinaimg.cn/large/006tNbRwgy1fg22076yi2j312r0akwku.jpg');
          padding-top: 50px;
          background-repeat: no-repeat;
          background-size: cover;
          margin-bottom: 80px;
          padding-bottom: 50px;
          padding-top: 50px;
        }

      //---------Content---------
       .content-section-title {
         text-align: center;

         letter-spacing: 0.5em;                              //拉开一点点字间距
         font-weight:lighter;                                //字体粗细比默认样式缩小100磅值，让logo显得精致高级
         font-size: 2.0em;
         color: #d76363;
         padding-bottom: 60px;
         padding-right: 35px;
       }

       .content-section-slogan {
         color: #d76363;
         letter-spacing: 1.4em;
         font-weight:lighter;
         font-size: 1.5em;
         margin-bottom: 60px;
         padding-top: 60px;
         text-align: center;

       }







}
