
                      <div class="zhen-pic">
                                  <div class="container">
                                            <div class="row">
                                                    <div class="col-md-8 col-md-offset-2 text-center">
                                                            <h1 class="title"></h1>
                                                            <h4 class="slogan"></h4>
                                                            <br/>
                                                            <p class="lead">
                                                              <%#= link_to '寻山珍', products_path, class: 'btn btn-danger btn-lg', id:"lead-submit" %>
                                                            </p>
                                                    </div>
                                            </div>
                                  </div>
                      </div>


<!-- productList -->
<div class="container">
    <div class="row">
      <% @products.each do |product| %>
          <div class="col-xs-6 col-md-3 text-center">
            <div class="productList">
              <div class="img-productList">
              <%= link_to product_path(product) do %>
              <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "img-responsive center-block") %>
              <% else %>
              <%= image_tag("http://palcehold.it/200x200&text=No Pic", class: "img-responsive center-block") %>
              <% end %>
              <% end %>
              </div>
                <div class="productList-content">
                    <h4 class="productList-title">
                      <%= link_to(product.title, product_path(product))%>
                  </h4>
              </div>
          </div>
        </div>
        <% end %>
    </div>
  </div>
