
      <footer class="footer-style">
                <div class="container">
                          <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                              <h5>山货</h5>
                                              <p class="footer-style-p">好山 好水 好品质</p>
                                    </div>
                      </div>
                  <hr>
                          <div class="row">
                                              <p class="text-center">Copyright &copy;2017 山货 - Design by
                                                  <%= link_to("botong & xiaobo", "#") %>
                                              </p>
                          </div>

      </footer>


<div id="gotop"><h2><strong>TOP</strong></h2></div>
